*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
aside{
    width: 20%;
    background-color: rgb(173, 214, 91);
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.principal{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 750px;
    background-color: rgb(161, 96, 221);
}

.btn-login{
    display: flex;
    justify-content: end;
}

.login{
     width: 60px;
    height: 30px;
    background-color: rgb(173, 214, 91);
    border-radius: 10px;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10dvw;
    background-color: rgb(173, 214, 91);
    border-radius: 10px;
    height: 30px;
}

.nav button{
    background-color: transparent;
    border: none;
    font-size: large;
}


.publi{
    margin-top: 30px;
    background-color: rgb(173, 214, 91);
    height: 140px;
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    border: 30px;
    border-color: black;
    justify-self: center;
}

.publi button{
    background: none;
    border: none;
}

.botoes{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    gap:10px;
}

.botoes img{
    width: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 350px;
    background-color: rgb(173, 214, 91);
    height: 200px;
    padding-left: 10px;
}

.footer{
    margin-top: 10px;
}
